.navContainer{
    /* height: 3vw; */

}

.navTagContainer{
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.navContainer.divider{
    background-color: white;
    width: 100%;
    height: 3px;
}

.navTag{
    margin-left: 2vw;
    font-size: 2vw;
    font-weight: bold;
    color:white;
    font-family: Arial, sans-serif;
}


.navTag:hover, .navTag.actived{
    background-image: linear-gradient(to right, #8ac9ed, #d584ce);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.downloadFont{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    background-image: linear-gradient(to right, #8ac9ed, #d584ce);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: pointer;
    font-family: Arial, sans-serif;
}