.navContainer{
    /* height: 3vw; */

}

.navTagContainer{
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.navContainer.divider{
    background-color: white;
    width: 100%;
    height: 3px;
}

.navTag{
    margin-left: 2vw;
    font-size: 2vw;
    font-weight: bold;
    color:white;
    font-family: Arial, sans-serif;
}

.navTag:hover{
    background-image: linear-gradient(to right, #8ac9ed, #d584ce);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: pointer;
}

a{
    text-decoration: none;
}