
.avator{
    width: 100%;
    height: auto; 
    
}

.avatorContainer{
    width: 24vw;
    height: 32vw;
    border-radius: 5%;
    overflow: hidden;
}

.largeFont.name{
    margin-top: 1vh;
    cursor: default;
}

.midFont.grad {
    background-image: linear-gradient(to right, #8ac9ed, #d584ce);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.avatorTop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;

}

.leftPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10vw;
    width: 45vw;
}

.firstLine{
    display:flex;
    padding-top: 0;
}

.subDis{
    padding-top: 6vh;
}

.linkContainer{
    display: flex;
    align-items: center;
    
}

.smallFont.linkedin{
    margin: 0;
    cursor: pointer;
    padding:4px 17px;
    border: 3px solid ;
    border-radius: 5px;
    border-image: linear-gradient(to right, #8ac9ed, #d584ce); 
    border-image-slice: 1;
}



//Font size
.largeFont{
    margin-top: 8px;
    font-size: 3vw;
    text-align: left;
    font-weight: bold;
    color:white;
    font-family: Arial, sans-serif;
}

.midFont{
    margin-top: 8px;
    font-size:2.2vw;
    font-weight: bold;
    color: white;
    font-family: Arial, sans-serif;
}

.smallFont{
    margin-top: 4px;
    font-size: 1vw;
    text-align: left;
    color: white;
    font-family: Arial, sans-serif;
}

.defCursor{
    cursor: default;
}
