
.skillContainer{
    padding:  0 10vw;
    width: 80vw;
    height: 100%;
}

.title{
    background: linear-gradient(to right, #8ac9ed, #d584ce);
    display: inline;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.firstLine{
    display: flex;
    justify-content: center;
}

.secondLine{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leftContainer{
    width: 30%;
}

.rightContainer{
    width: 30%;
}

.skill-1{
    padding: 2.5vh 0;
    display: flex;
    justify-content: space-between;
    height: 5vh;
}

.skill-1 img{
    width: auto;
    height: 100%;
}

/* Font size */
.largeFont{
    margin-top: 8px;
    font-size: 3vw;
    text-align: left;
    font-weight: bold;
    color:white;
    font-family: Arial, sans-serif;
}

.midFont{
    margin-top: 8px;
    font-size:2.2vw;
    font-weight: bold;
    /* color: white; */
    font-family: Arial, sans-serif;
}

.smallFont{
    margin-top: 4px;
    font-size: 1vw;
    text-align: left;
    color: white;
    font-family: Arial, sans-serif;
}

.defCursor{
    cursor: default;
}

.alignFont{
    text-align: center;
}

.nmg{
    margin: 0;
    padding: 0;
}

